body {
  background: url('../img/chalk.jpg');
  background-size: cover;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
	padding: 0;
	border: 0;
}

* {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: #000;
}
h1, h2, h3, h4, h5, h6, p, a, blockquote {
  padding: 20px;
  font-family: "Helvetica", sans-serif;
  margin: 0px;
}

li {
  padding: 5px;
}

blockquote {
  font-style: italic;
  font-size: 24px;
}

header {
  background: rgba(255, 255, 255, .3);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

section {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

img {
  border: 10px solid white;
  border-radius: 100px;
}

#container {
  width: 60%;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);
  margin-top: 0px;
}

.button {
  display: block;
  color: #020202;
  font-weight: bold;
  background: rgba(255, 255, 255, .8);
  padding: 8px;
  text-decoration: none;
}
