html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6em;
  font-size: 16px;
  background: #fff;
  margin: 0 auto;
  line-height: 1.5em;
  width: 100%;
  min-height: 100%;
}

#container {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 100%;
}

img {
  margin: 1.0em;
  max-width: 90%;
}

section {
  margin: 0 auto;
  max-width: 70%;
  padding-top: 1.75em;
  clear:both;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 3em;
  padding: .5em;
  line-height: 1.0em;
}

h2 {
  font-size: 2.5em;
  padding: .5em;
  line-height: 1.0em;
}

h3 {
  font-size: 2em;
  padding: .5em;
}

h4 {
  font-size: 1.75em;
  padding: .5em;
  line-height: 1.0em;
}

.clearfix {
  clear:both;
}
