header {
	background-image: url("../img/market.gif");
	background-position: center center;
	height: 36em;
	width: 100%;
	background-size: cover;
	background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: -2;
}

#inner-header {
  background-image: url("../img/keys.jpg");
  background-position: center center;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  margin-bottom: 3.0em;
}

#home-title {
  font-size: 3em;
  color: #fff;
  text-align: center;
  clear: both;
  padding-top: 5.5em;
  line-height: 1.0em;
}

#inner-title {
  font-size: 3em;
  color: #fff;
  text-align: center;
  clear: both;
  padding-top: 5.0em;
}

#first-row {
  width: 100%;
  background-image: url("../img/paper.jpg");
  background-attachment: fixed;
  background-size: cover;
	padding-bottom: 2.5em;
}

#first-row a{
  color: #4F5D75;
  text-decoration: none;
}

.icon {
  float: left;
	width: 30%;
  padding-top: 1.75em;
  padding-left: 1.0em;
  font-size: 1.25em;
	-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	 transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.icon img:hover {
	height: 350px;
	width: 350px;
}
.icon:hover {
	font-size: 3.0em
}

.icon a {
  text-decoration: none;
}

.front-text {
	clear: both;
}

#excerpts {
  max-width: 75%;
  position: relative;
  float: left;
  border-right: 1px solid black;
	line-height: 1.75em;
}

.sidebar {
  max-width: 10%;
  float: left;
	padding-left: 1.5em;
	line-height: 2.0em;
}

.sidebar ul {
  display: block;
}

.sidebar a {
  text-decoration: none;
  color: #000;
}


/* Poems */
#poem-machine {

}

#poem-machine h1 {
  text-align: center;
}

#poem-text {
  max-width: 580px;
  margin: 0 auto;
}

#poem-title {
  font-size: 3.0em;
	line-height: 1.0em;
  text-align: center;
  padding-bottom: 1em;
	font-family: 'Maiden Orange', cursive;
}

#btn {
  background: #B1B4B5;
  border-radius: 1.0em;
  font-size: 1.25em;
  padding: 1.0em;
  width: 6.25em;
  margin: 0 auto;
  margin-bottom: 1.5em;
  text-align: center;
}
/* Navigation */

nav {
  clear: both;
  float: right;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  float: left;
  width: 180px;
  height: 50px;
  padding-top: 10px;
  background: rgba(0,0,0,0.5);
  border-right: 1px solid white;
}

nav a {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  padding-left: 10px;
  border: 1px white;
  text-decoration: none;
}

nav a:hover {
  background-color: #000;
}

nav a.active {
  background-color: #fff;
  text-decoration: none;
}

/* Mobile Nav */

#mobile-nav {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 13.75em;
  height: 100%;
}

#mobile-nav li {
  float: left;
  width: 13.75em;
  height: 3.0em;
  padding-top: .75em;
  background: rgba(0,0,0,0.3);
}

#mobile-nav a {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  padding-left: 10px;
  border: 1px white;
  text-decoration: none;
}

.hamburger{
  position:absolute;
  top:1.0em;
  left:1.0em;
  width:2.5em;
  height:2.5em;
  z-index:50;
  background: url('../img/hamburger.svg');
  background-size: 32px 32px;
  background-position: 4px 4px;
  display: none;
}

/* Footer */

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
  background: #cccccc
}
