@media only screen and (max-width: 320px) {
  #mobile-nav {
    display: block;
  }

  .hamburger {
    display: block;
  }

  nav {
    display: none;
  }

  section {
    max-width: 85%;
  }

  #excerpts {
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid black;
    padding-bottom: 2.0em;
  }

  .sidebar {
    padding-top: 2em;
    padding-left: 0.0em;
    padding-bottom: 2em;
    margin-left: 1.75em;
    width: 100%;
    max-width: 100%;
  }

  .icon {
    float: none;
    width: auto;
  }

}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  #mobile-nav {
    display: block;
  }
  .hamburger {
    display: block;
  }
  nav {
    display: none;
  }
  section {
    max-width: 85%;
  }
  #excerpts {
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid black;
  }

  .sidebar {
    padding-top: 2em;
    padding-left: 0.0em;
    padding-bottom: 2em;
    margin-left: 1.75em;
    width: 100%;
    max-width: 100%;
  }

  .icon {
    float: none;
    width: auto;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 1.75em;
  }

  #excerpts {
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid black;
  }

  .sidebar {
    padding-top: 2em;
    padding-left: 0.0em;
    padding-bottom: 2em;
    margin-left: 1.75em;
    width: 100%;
    max-width: 100%;
  }

  .icon {
    float: none;
    width: auto;
  }


}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

}

@media only screen and (min-width: 1921px) {

}
