body {
  background: #295f48;
}

h1 {
  color: white;
  text-align: center;
  font-size: 36px
}

/* flip speed goes here */
.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  float:left;
  width: 116px;
  height: 163px;
  padding: 10px;

}

.flipped {
  transform: rotateY(180deg);
}
/* hide back of pane during swap */

.front, .back {
  backface-visibility: hidden;
	position: absolute;
  border-radius: 8px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(180deg);
  background-color: #fff;
  width:116px;
  height: 163px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(0deg);
  background-image: url('../img/bicycle-back.jpg');
  background-size: cover;
  width: 116px;
  height: 163px;
}

.club {
  background-image: url('../img/french-suits.svg');
  background-position: 10px 5px;
  width: 90px;
  height: 100px;
}

.heart {
  background-image: url('../img/french-suits.svg');
  background-position: 100px 0px;
  width: 100px;
  height: 100px;
}

.diamond {
  background-image: url('../img/french-suits.svg');
  background-position: 5px 105px;
  width: 80px;
  height: 100px;

}

.spade {
  background-image: url('../img/french-suits.svg');
  background-position: 100px 100px;
  width: 95px;
  height: 100px;
}
