body {
  background: #fff;
}

#container {
  width: 740px;
  margin-left: 60px;
}


.preview {
  background: url('../fashion_blog_part2.png');
  background-repeat: no-repeat;

}
article {
  padding-top: 50px;
  margin-bottom: 50px;
}

header {
    margin-top: 60px;
    margin-bottom: 50px;
}

header h1 a {
  color: rgb(222, 59, 48);
  text-decoration: none;
  font-size: 56px;
  font-family: lato;
  font-weight: 300;
  float: left;
}

header h2 {
  font-family: lato;
  font-weight: 300;
  font-size: 30px;
  margin-top: 20px;
  float: right;
}

nav {
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  clear: both;
}

nav li {
  display: inline;
}

nav a {
  color: rgb(199,199,199);
  font-size: 24px;
  margin-right: 20px;
  font-weight: 100;
  font-family: lato;
  float: left;
}

h2 a {
  text-decoration: none;
  color: #000;
  font-size: 36px;
  font-family: lato;
  padding-bottom: 50px;
  font-weight: 300;
}

h3 {
  font-size: 36px;
  color: rgb(199,199,199);
  margin-bottom: 10px;
  font-family: lato;
  font-weight: 100;
}

h4 a {
  color: red;
  text-decoration: none;
  float: right;
  font-size: 18px;
  font-family: lato;
  font-weight: 400;
}

.cap-letter {
  font-size: 80px;
  float: left;
  font-family: lato;
  font-weight: 300;
  color: rgb(199,199,199);
}

p {
  line-height: 24px;
}

footer {
  margin-top: 50px;
  color: rgb(195, 195, 195);
  font-family: lato;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  clear: both;
}

footer a{
  display: inline;
  color: red;
  text-decoration: none;
  margin-bottom: 50px;
}

img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  position: relative;
  float:left;
  width: 80%:
}

.sidebar {
  position: relative;
  float:right;
  width: 20%;
}
